caption{
color:red;font-family:papyrus;
}
#tr1{
color:cyan;font-family:verdana;
}
#tr2{
color:red;font-family:cursive;
}
#tr3{
color:yellow;font-family:algerian;
}
#tr4{
color:blue;font-family:calibri;
}
#tr5{
color:green;font-family:Cambria;
}
#tr6{
color:brown;font-family:forte;
}
#tr7{
color:orange;font-family:arial black;
}
#tr8{
color:pink;font-family:courier;
}